<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Skills</title>
</head>
<body>
    <h1>My Accomplishments</h1>
    <ul>
        <% skills.forEach(function(skill) { %>
            <li>
                <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
                <ul style="list-style-type: none; font-style: italic">
                    <%= skill.description %>
                </ul>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>